:root {
  --main-bg-color: #fff;
  --div-color: #fff;
  --div-color-hell: #cfe7f3;
  --div-color-dunkel: #6b9bda;
  --div-seperation: #0d3896;
  --font-family: "Segoe UI";
  --font-size: '0.9em'

}

/* --------   Navigationbar Design ----------- */
.navtop {
  background-color: #6b9bda;
  height: 50px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.navtop div h1,
.navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #eaebed;
  font-weight: normal;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #dadfe4;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.navtop div a:hover {
  color: #f4f8ff;
}

/* --------   Page Structure ----------- */
body {
  font-family: var(--font-family);
  padding: 0px;
  font-size: 0.7em;
  background-color: var(--div-color);
  margin: 0px;

}

#header {
  color: var(--div-color-dunkel);
  text-align: center;
  background-color: var(--div-color);
  text-shadow: black;
  margin: 5px;
  padding: 0px;
  font-size: xx-large;
  font-weight: bolder;
  vertical-align: middle;
}

#header div {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}


#headerbar {
  background-color: var(--div-seperation);
  margin: 0px;
  padding: 0px;
  height: 3px;
  width: 100%;
}



#maincontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#mainpage {
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--div-color);
  padding: 0px;
  margin: 5px;
}

#footer {
  margin: 5px;
  font-style: italic;
}

/* --------   Content Table Design ----------- */

.CSS_contentTable {
  border: none;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.CSS_contentTable td {}


/******************* FLEX BOX *************************/
.container_flex_modifier {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
}
.item_flex_modifier {
  width: 20%;
  background: var(--div-color-hell);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
  padding:5px;
}

.item_flex_modifier:hover{
  cursor: pointer;

}

/* --------   CALCULATOR ----------- */
#table_input {
  font-size: var(--font-size);

}

#table_input td {
  text-align: center;
}


#table_input tr {
  text-align: right;
}

#tr_maindiagnose {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#tr_maindiagnose td {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

#tr_calculator_button_checkbox td{
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
#tr_calculator_button_checkbox td input{
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.input_maindiagnose {
  border: solid 2px var(--div-seperation);
  background-color: var(--div-color-hell);
  width: 200px;
  border-radius: 3px;
  font-size: var(--font-size)
}

.input_maindiagnose:read-only {
  border: grey;
}

.input_calculator_id {
  border: solid 2px var(--div-seperation);
  background-color: var(--div-color-hell);
  width: 40px;
  border-radius: 3px;
  font-size: var(--font-size)
}

.input_calculator_id:read-only {
  border: grey;
}

.input_modifier:read-only {
  border: grey;
}

.input_title {
  font-size: medium;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: var(--div-color-dunkel)
}

.input_select {
  border: solid 1px var(--div-seperation);
  background-color: var(--div-color-hell);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: var(--font-size);
  border-radius: 3px;
  padding: 0px;
  margin: 0px;
}

.input_checkbox {
  border: solid 1px var(--div-seperation);
  background-color: var(--div-color-hell);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 1px;
  padding: 0px;
  margin: 0px;
}

.input_modifier {
  border: solid 2px var(--div-seperation);
  background-color: var(--div-color-hell);
  width: 180px;
  border-radius: 3px;
  font-size: var(--font-size);
}

.input_modifier:read-only {
  border: grey;
}

.input_SNOMED {
  border: solid 2px #bb6363;
  background-color: #ffdfdf;
  width: 150px;
  border-radius: 3px;
  font-size: var(--font-size);
  text-align: right;

}

.input_SNOMED:read-only {
  border: grey;
}

.input_ICD {
  border: solid #4c9f63;
  background-color: #dafce3;
  width: 45px;
  border-radius: 3px;
  font-size: var(--font-size);
  text-align: right;
  padding-left: 2px;
}

.input_ICD:read-only {
  border: grey;
}

.input_ICD:focus {
  width: 150px;
}

.input_ICD:not(:focus) {
  width: 45px;
}

.img_button {
  width: 25px;
  height: 25px;
}

.td_modifier_id {
  font-size: 0.7em;
  font-style: italic;
  vertical-align: bottom;
}


.input_information_red {
  border: 0px none;
  background-color: var(--main-bg-color);
  color: red;
  font-size: x-small;
  width:180px;

}

.input_information_italic {
  border: 0px none;
  background-color: var(--main-bg-color);
  font-style: italic;
  font-size: x-small;
  width:180px;
}

/* --------   Output Table Design ----------- */


#table_output_calculator {
  border: 3px solid var(--div-color-dunkel);
  margin-left: auto;
  margin-right: auto;
}

#table_output_calculator td {
  border: 1px solid var(--div-color-dunkel);
  padding: 1px 5px 1px 5px;
}

/* --------   Button Design ----------- */
.button_download {
  background-color: var(--div-color-hell);
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  vertical-align: center;
}

.button_download:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 1px, 0);
}

.btn {
  vertical-align: center;
  background-color: var(--div-color-hell);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: var(--div-color-dunkel) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .25rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* **************** Home Design ********************** */
#home_table {
  margin-left: auto;
  margin-right: auto;
}

.home_td {
  border-right: solid 2px var(--div-seperation);
  width: 250px;
  vertical-align: top;
}

.home_link {
  color: var(--div-seperation);
  text-decoration: underline;
  font-size: medium;
}

.home_link:hover {
  color: var(--div-seperation);
  cursor: pointer;
}

.home_sublink {
  color: black;
  text-decoration: none;
  font-style:italic;
  font-size: smaller;
}