:root {
  --main-bg-color: #faf9fe;
  --div-color: #eef9ff;
  --div-color-hell: #cfe7f3;
  --div-color-dunkel: #6b9bda;
  --div-seperation: #0d3896;
  --fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

iframe{
  height:0px;
  display:none;
}

.colorTEST {
  color: #b9b9b9;
}

/* --------   Navigationbar Design ----------- */

#navigationbar li a.REARed {
  background-color: #d60d0d;
  font-weight: bold;
}

#navigationbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--div-color-dunkel);
}

#navigationbar li {
  float: left;
}

#navigationbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  border-right: 4px solid var(--div-seperation);
}



#navigationbar li a:hover {
  background-color: var(--div-seperation);
}


.navigationbarButton {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 1px;
  vertical-align: middle;
}

/* --------   Page Structure ----------- */
body {
  font-family: var(--fontfamily);
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  background-color: var(--div-color);

}

#header {
  color: var(--div-seperation);
  text-align: center;
  background-color: var(--div-color);
  text-shadow: black;
  margin: 5px;
  padding: 0px;
  font-size: large;
  font-weight: bolder;
}


#headerbar {
  background-color: var(--div-seperation);
  margin: 0px;
  padding: 0px;
  height: 3px;
  width: 100%;
}

#mainpage {
  width: 100%;
  background-color: var(--div-color);
  padding: 0px;
  margin: 0px;
}

#maincontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 0px;
}


#sidebar {
  flex: 40%;
  background-color: #f1f1f1;
  margin: 30px;
  margin-right: 50px;
  padding: 20px;
}


/* --------   Content Table Design ----------- */

.CSS_contentTable {
  border: none;
}

.CSS_contentTable td {
  vertical-align: top;
}

/* --------   Input Table Design ----------- */
.input_modifier {
  border: solid 2px var(--div-seperation);
  background-color: var(--div-color-hell);
  padding: 5px, 5px, 5px, 5px;
  width:200px;
}

.input_title{
  font-size:large
}

/* --------   Button Design ----------- */
.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 10px auto 35px;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
  text-align:center;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}