
:root
{    --main-bg-color: #faf9fe;
   --div-color: #f6ffee;
   --div-color-hell: #e8f0e4;
   --div-color-dunkel: #6fa550;
   --div-seperation: #344e2c;
   --fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 .colorTEST{
    color: #b9b9b9;
 }

 h4{
     margin:2px;
 }
 .inputHide
 {
     margin:0px;
     border: 0px;
     background-color: rgba(255, 0, 0, 0.0);
     font-size:0.6em;
     color: var(--main-bg-color);
     text-align:right;
     margin-right:10px;
     width:50px;
 }


 .btn.hover-filled-slide-down::before {
    bottom: 0; left: 0; right: 0; 
    height: 100%; width: 100%;
  }
  .btn.hover-filled-slide-down:hover::before {
    height: 0%;
  }

  
 /* --------   Deroulants Design ----------- */

 .deroulants {
    display: none;
    position: absolute;
    text-align:center;
    font-size: 0.7em;
    min-width: 50px;
    min-height: 20px;
    border: 2px solid var(--div-seperation);
    border-radius:3px;
    background-color: var(--main-bg-color);
    z-index: 9;
    padding: 3px;
    margin: 0px;
}

.deroulantsButton
{
    width: 18px;
    height:18px;
    margin:1px;
    border-radius: 4px;
    background-color: #bfd6d6;

}

.deroulantsButton:hover
{
    background-color: var(--div-seperation);
}
/* --------   Navigationbar Design ----------- */

#navigationbar li a.REARed{
    background-color: #d60d0d;
    font-weight: bold;
    }     
#navigationbar ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: var(--div-color-dunkel);
       }

   #navigationbar li {
       float: left;
       }

   #navigationbar li a {
       display: block;
       color: white;
       text-align: center;
       padding: 3px 8px 3px 8px;
       text-decoration: none;
       border-right: 4px solid var(--div-seperation);
       }



   #navigationbar li a:hover {
       background-color: var(--div-seperation);
       }

 
    .navigationbarButton
    {
        width: 15px;
        height:15px;
        margin:0px;
        padding:0px;
        border: 0px;
        border-radius: 1px;
        vertical-align: middle;  
    }

/* --------   Toolsbar Design ----------- */

   #toolsbar
   {
       width:100%;
   }

    #toolsbar ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: var(--div-color-dunkel);
       }

   #toolsbar li img {
       display: block;
       color: white;
       text-align: center;
       padding: 5px 5px;
       text-decoration: none;
       border-right: 4px solid var(--div-seperation);
       }

   #toolsbar li img:hover {
       background-color: var(--div-seperation);
       }

   .toolsbarButton
   {
       width: 20px;
       height:20px;
       margin:0px;
       border: 0px;
       border-radius: 4px;
       vertical-align: middle;  
   }


  /* --------   Main Page ----------- */

  .mainPageButton
  {
    width: 20px;
    height:20px;
    margin:0px;
    border: 0px;
    border-radius: 4px;
    vertical-align: middle;  
  }

  .mainPageButton:hover{
      background-color: var(--div-color-dunkel);
  }

  .patientSelect{
    border-radius:3px; 
    background-color: var(--div-color-hell);
    font-size:1.1em;
    margin:2px;
  }
/* --------   SVG ----------- */

#SVGMonitoring{
    background-color: #f9fff4;
}

#SVGMonitoringRest{
    background-color: #f9fff5;
}

#SVGBilanz{
    background-color: #f7fffb;
}

#SVGCatheter{
    background-color: #fffff4;
}

#SVGPerfusor{
    background-color: #fff8f8;
}

#SVGMedicament{
    background-color: #f4f8ff;
}

#SVGInfusion{
    background-color: #f4fffa;
}

#SVGRespiration{
    background-color: #f1f6ff;
}

.SVGGraphs
{
   border-radius: 6px;
   padding:5px;
   margin:2px;
}

/* --------   Kurven ----------- */

.inputOptionKurven
{
    background-color: var(--div-color);
    border-radius: 5px;
}

.buttonKurven{
    border-radius: 7px;
    border: solid 1px;
    background-color: #c6cfff;
    margin-left:10px;
}

/* --------   Verordnungen ----------- */

.verordnungParent {
    display: flex;
    flex-direction:row;
    margin:5px;
  }

.verordnungParent h3
{
    margin:2px;
    padding: 2px;
}

.verordnungParent h5
{
    margin:2px;
    padding: 2px;
}

.verordnungParent input::placeholder{
    color:#b8b8b8;
  }

.verordnungChildrenMedicament{
    flex: auto 1 0;
    margin:5px;
    background-color: #ffffff;

}
.verordnungChildrenRest{
    flex: auto 1 0;
}
.verordnungChildren{
    border-radius:10px;
    
    margin-bottom:5px;

  }
.divMedicament{
    border-radius:5px;
    padding:2px;
    margin:2px;
    background-color: #d5e7ff;
}

.verordnungDiv
  {
      border-radius:10px;
      padding:8px;
      margin:2px;
      width:90%
  }
  .verordnungInputNumber
{
    
    border: 0px;
    width:40px;
}
.verordnungInputNumber2
{
    
    border: 0px;
    width:20px;
}
.verordnungInputNumber4
{
    
    border: 0px;
    width:40px;
}

.verordnungInputMediumText
{
    width:250px;
    float: right;
}

.verordnungInputLongText
{
    width:350px;
    float: right;
}

.verordnungInputUnit{
    font-weight: lighter;
}

.inputMedicament
{
    margin:2px;
    border: 0px;
    border-radius:2px;
    background-color: #eff8ff;
    color: black;
    text-align:left;
    width:auto;
}

.inputMedicamentOthers
{
    margin:2px;
    border: 0px;
    border-radius:2px;
    background-color: #eff8ff;
    color: black;
    text-align:left;
    width: 280px;
}


.inputMedicamentName
{
    width:100px;
}

.inputMedicamentDosis
{
    width:50px;
}
.inputMedicamentDauerKI
{
    width:80px;
}
.inputMedicamentUnit
{
    width:60px;
}

.inputMedicamentRange
{
    width:60px;
}

.inputMedicamentDate
{
    text-align:left;
    width:130px;
}

.verordnungButton{
    border-radius: 7px;
    background-color: #ff6868;
    color:var(--div-color);
}

.verordnungButtonBlau{
    border-radius: 7px;
    background-color: #687fff;
    color:var(--div-color);
}

.verordnungProvisorisch{
    margin-right:50px;
    font-weight: bolder;
    color:red;
}


/* --------   POPUP ----------- */

.popUp {
   display: none;
   position: fixed;
   top: 15px;
   left: 15px;
   border: 3px solid #405657;
   border-radius:5px;
   background-color: white;
   z-index: 9;
   padding: 10px;
}


.managePopUp
{
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    float: top;
    border: 3px solid #405657;
    background-color: white;
    border-radius:5px;
    z-index: 9;
    padding: 10px;
 }
 
 .exitPopUp
 {
     position: absolute;
     right: 5px;
     top: 5px;
     width:25px;
     height:25px;
     border-radius:3px;
     background-color: var(--div-color);
 }
 .movePopUP
 {
     position: absolute;
     left: 5px;
     top: 5px;
     width:25px;
     height:25px;
     border-radius:3px;
     background-color: var(--div-color);
 }
 .exitPopUp:hover
 {
     background-color: var(--div-seperation);
 }

 .popUpParent {
    display: flex;
    flex-direction:row;
  }
  
.popUpChildren {
    flex: 1 1 0px;
  }

  .popUpUnit{
font-style:italic;
font-size:0.6em;  
}
.inputPopUp
{
    border: 1px;
    border-radius:4px;
    text-align:center;
    margin:0px;
    float:right;
}

.inputPopUp2 /* WITHOUT FLOAT RIGHT*/
{
    border: 1px;
    border-radius:4px;
}

.popUp .inputPopUp.inputPopUpNumber
{
    width:50px;
}

.inputPopUpHide
{
    border: 0px;
    width:auto;
    background-color: rgba(255, 0, 0, 0.0);
}
.popUpDiv
{
    border-radius:10px;
    padding:8px;
    margin:2px;
}

.popUpDivGrey
{
    background-color: #e2e2e2;
}
.popUpDivRed
{
    background-color: #fddddd;
}
.popUpDivGreen
{
    background-color: #e5fde8;
}
.popUpDivBlue
{
    background-color: #deedfc;
}
.popUpDivYellow
{
    background-color: #fcfade;
}
.popUpDivBrown
{
    background-color: #dfaf90;
}
.popUpDivLightBlue
{
    background-color: #c5e8ff;
}


.cancelButton
{
   position:absolute;
   right: 10px;
   bottom: 10px;
}

.divPopUp
{
   width:95%;
   border: 0.5px solid black; 
   font-family: var(--fontfamily);
   font-size: 0.8em;
}

.textareaPopUp
{
   width:90%;
   font-family: var(--fontfamily);
   font-size: 0.8em;
   border: 3px solid #014c8a; 
}

.popUp h1{
    margin:1px;
    margin-top:15px;
}
/* --------   REA PopUp ----------- */


.REAPopUp {
    display: none;
    position: fixed;
    left: 1px;
    top:65%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-width: 97%;
    border: 3px solid #c96d6d;
    border-radius:5px;
    background-color: white;
    z-index: 9;
    padding: 10px;
 } 
 .REAPopUp h2{
    margin:1px;
    padding:1px;
 } 

 .inputREAPopUpNumber
 {
    border: 0px;
    border-radius: 3px;
     width:50px;
 }

 .buttonREARed{
    font-weight: bold;
    background-color:red;
 }
 .buttonREAYellow{
    font-weight: bold;
    background-color:yellow;
 }
 .buttonREAGreen{
    font-weight: bold;
    background-color:green;
 }
/* --------   Page Structure ----------- */
body{
   font-family: var(--fontfamily);
   margin: 0px;
   padding: 0px;
   font-size: 0.9em;
}

#header {
   color: #418b41;
   text-align: center;
   background-color: var(--div-color);
   margin: 0px;
   padding: 0px;
}


#headerbar {
   background-color:var(--div-seperation);
   margin: 0px;
   padding: 0px;
   height:3px;
   width:100%;
}

#mainpage {
    width: 100%;
    background-color: white;
    padding: 0px;
    margin:0px;
  }

#maincontent {  
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   width:100%;
   padding:0px;
   margin:0px;
 }


#sidebar {
   flex: 40%;
   background-color: #f1f1f1;
  margin: 30px;
  margin-right: 50px;
   padding: 20px;
 }

 /* Main column */

