:root{
    --fontfamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    font-family: var(--fontfamily);
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
 }

.navtop {
	background-color: #6b9bda;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 80%;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}


/* ************* SPITAL **************/

.logo_spital {

	width: 150px;
}



.logo_spital_div{
	border:solid rgba(46, 52, 109, 0.808), 2px;
	border-radius: 3px;

}
.logo_spital_div.hover {
	border:rgba(46, 52, 109, 0.808), 4px
}

.content {
	width: 100%;
	padding-left:10%;
	margin:0px;

}

.content h1 {
	margin-bottom:5px
}

.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}

.buttonClass{
    border-radius: 4px; 
}